<div class="" style="margin-top: 25px;" align="center">
	<img src="http://www.streamingwell.tv/wp-content/uploads/2015/10/Eisai-logo.jpg" align="center"/>
	<h1>Eisai Oncology Press Event</h1>
	<p style="color: #B5007C;">2015 15th International Thyroid Congress (ITC) | Orlando, FL | October 18-23, 2015 </p>
	<hr>
</div>

<div class="span7" style="margin-bottom: 25px;">
<h4>LENVIMA® (LENVATINIB) PHASE III DATA IN ADVANCED THYROID CANCER: LIVE VIRTUAL PRESS EVENT FROM THE 15th INTERNATIONAL THYROID CONGRESS (ITC) 2015, FLORIDA</h4> 

<h4 style="color: #B5007C;">MONDAY 19 OCTOBER 2015 @ 10:00–11:00 (EDT) / 15:00 – 16:00 (BST)</h4>

<p style="color: #000;">There is a major need for improved treatment options for radioiodine refractory 

differentiated thyroid cancer, an aggressive, difficult-to-treat cancer with poor 

prognosis and 10-year survival rates of only 15%. 

This virtual press event will give you the opportunity to hear about the key role of 

lenvatinib in thyroid cancer from two experts in the field and give you exclusive 

access to them for direct questions and one-to-one interviews.</p>

<br />
	<p style="color: #000;"><strong>Professor Martin Schlumberger, University Paris

	Sud, France</strong>, will provide an overview of the key 

	Lenvatinib Phase III data at ITC and focus on the 

	effect of lenvatinib across different metastatic sites.</p>

	<p style="color: #000;"><strong>Dr Rosella Elisei, Department of Endocrinology and

	Metabolism, Section of Endocrinology, University of 

	Pisa, Italy</strong>, will provide an overview of the SELECT 

	trial including key results and trial design.</p>

	<hr />

	<p style="color: #000;">We would kindly ask all media to respect the embargoes relating to any data presented at the International Thyroid Congress 2015. You can find more information on the embargo timings for <br />data at the ITC website - <br /> <br />

	<a href="http://www.thyroid.org/wp-content/uploads/2015_ITC/media_registration_press_policies.pdf" style="color:#B5007C; text-decoration: none;">http://www.thyroid.org/wp-content/uploads/2015_ITC/media_registration_press_policies.pdf</a></p>

	<br />

	<small>Date of preparation: October 2015 <br />Job code: Oncology-UK0065</small>

</div>

<br>

<div class="span4">

	<!-- flash_notice to show if form submission is unsuccessful -->
	<div class="alert alert-notice" id="form-error" style="display: none;">
		Please fill in all fields and confirm you are a journalist.
	</div>

	<div id="flash_notice" style="display:none"></div>
		<%= simple_form_for :registration, :url => registration_path do |form| %>
		<%= form.error_notification %>
		  <%= form.input :firstname, label: "First Name" %>
		  <%= form.input :lastname, label: "Last Name" %>
		  <%= form.input :media, label: "Media Outlet"%>
  		<%= form.input :country, label: "Country" %>
  		<%= form.input :email, label: "Email Address" %>
		  	
		  	<div class="field">
				<%= form.input :journalist, :as => :boolean, :required => true, label: "Please tick to confirm you are a journalist." %>
			</div>		  
		  <br>
		  <fieldset class="actions">
		    <%= form.submit "Register", class: 'btn btn-primary btn-large' %>
		  </fieldset>
		</div>
	<% end %>

</div>		

<%= yield %>

</body>