<div class="span12" style="margin-top: 25px;">
	<h1>Insert Title</h1>
	<p>2015 15th International Thyroid Congress (ITC) | Orlando, FL | October 18-23, 2015 </p>
	<hr>
</div>

<div class="span7" style="margin-bottom: 25px;">
INSERT ABOUT

</div>

<br>

<div class="span4">

	<!-- flash_notice to show if form submission is unsuccessful -->
	<div class="alert alert-notice" id="form-error" style="display: none;">
		Please fill in all fields and confirm you are a journalist.
	</div>

	<div id="flash_notice" style="display:none"></div>
		<%= simple_form_for :registration, :url => registration_path do |form| %>
		<%= form.error_notification %>
		  <%= form.input :firstname, label: "First Name" %>
		  <%= form.input :lastname, label: "Last Name" %>
		  <%= form.input :media, label: "Media Outlet"%>
  		<%= form.input :country, label: "Country" %>
  		<%= form.input :email, label: "Email Address" %>
		  	
		  	<div class="field">
				<%= form.input :journalist, :as => :boolean, :required => true, label: "Please tick to confirm you are a journalist." %>
			</div>		  
		  <br>
		  <fieldset class="actions">
		    <%= form.submit "Register", class: 'btn btn-primary btn-large' %>
		  </fieldset>
		</div>
	<% end %>

</div>		

<%= yield %>

</body>