<div class="" style="margin-top: 25px;" align="center">
	<img src="http://www.streamingwell.tv/wp-content/uploads/2015/10/Eisai-logo.jpg" align="center"/>
	<h1>Eisai Oncology Press Event</h1>
	<p style="color: #B5007C;">2015 15th International Thyroid Congress (ITC) | Orlando, FL | October 18-23, 2015 </p>
	<hr>
</div>
<div class="span7" style="margin-bottom: 25px;">
	<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='http://cdn.livestream.com/embed/streamingwell?layout=4&color=0x8cb6e5&autoPlay=true&mute=false&iconColorOver=0x5484ba&iconColor=0x386496' style='border:0;outline:0' frameborder='0' scrolling='no'></iframe></div>
	<small>*This video is best viewed in full screen.</small>


	<hr />
	<p>Supporting documents</p>
	<small><strong>Please respect the embargo on these data.</strong></small>

		<p style="margin-top: 15px;"><a href="http://www.streamingwell.tv/wp-content/uploads/2015/10/ITC-2015-Posters.pdf" target="_blank" style="font-weight: bold; color: #B5007C;">ITC Lenvima Data Press Release</a></p>

		<p><a href="http://www.streamingwell.tv/wp-content/uploads/2015/10/ITC-2015-Posters.pdf" target="_blank" style="font-weight: bold; color: #B5007C;">All ITC 2015 Posters (1.2mb)</a></p>
		
		<ul>

			<li><p><a href="http://www.streamingwell.tv/wp-content/uploads/2015/10/ITC-Lenvima-Data-Press-Release.docx" target="_blank" style="font-weight: bold; color: #B5007C;">ITC 2015 AE Timing poster</a></p></li>

			<li><p><a href="http://www.streamingwell.tv/wp-content/uploads/2015/10/Alternate-ITC-2015-BMI-poster_ESLT144_PRINT-READY.pdf" target="_blank" style="font-weight: bold; color: #B5007C;">Alternate ITC 2015 BMI poster</a></p></li>

			<li><p><a href="http://www.streamingwell.tv/wp-content/uploads/2015/10/ITC-2015-Age-Brose-Poster_PRINT-READY.pdf" target="_blank" style="font-weight: bold; color: #B5007C;">ITC 2015 Age (Brose) poster</a></p></li>

			<li><p><a href="http://www.streamingwell.tv/wp-content/uploads/2015/10/ITC-2015-NNT-Analysis-Poster_PRINT-READY.pdf" target="_blank" style="font-weight: bold; color: #B5007C;">ITC 2015 NNT Analysis poster</a></p></li>

			<li><p><a href="http://www.streamingwell.tv/wp-content/uploads/2015/10/ITC-2015-Mets-Poster_PRINT-READY.pdf" target="_blank" style="font-weight: bold; color: #B5007C;">ITC 2015 Mets poster</a></p></li>

			<li><p><a href="http://www.streamingwell.tv/wp-content/uploads/2015/10/RR-DTC-QoL-ITC-2015-poster-vFINAL.pdf" target="_blank" style="font-weight: bold; color: #B5007C;">RR-DTC QoL ITC 2015 poster</a></p></li>
		</ul>

</div>
<div class="span4">
	<p><strong>Please submit your questions below.</strong></p>
	<br />

	<!-- flash_notice to show if form submission is successful -->
	<div class="alert alert-notice" id="form-success" style="display: none;">
		Your message was sent successfully.
	</div>

	<!-- flash_notice to show if form submission is unsuccessful -->
	<div class="alert alert-notice" id="form-error" style="display: none;">
		Please fill in all fields.
	</div>
	<div id="flash_notice" style="display:none"></div>
		<%= simple_form_for @message, :url => contact_path, method: :post, remote: true do |form| %>
	
			<%= form.input :name, label: "Name"  %>
			<%= form.input :country %>
			<%= form.input :doctor, label: 'Who is your question for?' %>
   		<%= form.input :body, label: 'Question', as: :text, input_html: { size: "30x3"} %>

	  <fieldset class="actions">
	    <%= form.submit "Submit question", class: 'btn btn-primary btn-large' %>
	  </fieldset>
	</div>
	<% end %>
	<div class="span10">
		<p><small>Date of preparation: October 2015 <br />Job code: Oncology-UK0065</small></p>
	</div>	
</div>


	


