<div class="span12" style="margin-top: 25px;">
	<h1>Insert Title</h1>
	<p style="color:#B5007C;">2015 15th International Thyroid Congress (ITC) | Orlando, FL | October 18-23, 2015 </p>
	<hr />
</div>
<div class="span6" style="margin-bottom: 25px;">
	<img src="assets/realise-webcast.png"/>
	<small>*This video is best viewed in full screen.</small>
</div>
<div class="span4">
	<p><strong>Please submit your questions below.</strong></p>
	<br />

	<!-- flash_notice to show if form submission is successful -->
	<div class="alert alert-notice" id="form-success" style="display: none;">
		Your message was sent successfully.
	</div>

	<!-- flash_notice to show if form submission is unsuccessful -->
	<div class="alert alert-notice" id="form-error" style="display: none;">
		Please fill in all fields.
	</div>
	<div id="flash_notice" style="display:none"></div>
		<%= simple_form_for @message, :url => contact_path, method: :post, remote: true do |form| %>
	
			<%= form.input :name, label: "Name"  %>
			<%= form.input :country %>
			<%= form.input :doctor, label: 'Who is your question for?' %>
   		<%= form.input :body, label: 'Question', as: :text, input_html: { size: "30x3"} %>

	  <fieldset class="actions">
	    <%= form.submit "Submit question", class: 'btn btn-primary btn-large' %>
	  </fieldset>
	</div>
	<% end %>
</div>
		

	


